# Nix build directory
/result

# Cargo build directories
/target
/tmdb/target

# Movie library and data directory to test with
/movies
data/*

# Config
!data/config
data/config/.env

# Directory for testing
/ignore